@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Audiowide&family=Boogaloo&family=Cinzel:wght@400;600;800;900&family=Courier+Prime:wght@400;700&family=Cutive+Mono&family=Fjalla+One&family=Gochi+Hand&family=Heebo:wght@200;400;600;800;900&family=Libre+Baskerville:wght@400;700&family=Manrope:wght@200;400;500;600;700;800&family=Marck+Script&family=Merriweather:wght@300;400;700;900&family=Mitr:wght@300;500;700&family=Molengo&family=Monda:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;400;600&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700&family=Sofia&family=Space+Mono:wght@400;700&family=Spectral:wght@200;300;400;500;600;700&family=Trirong:wght@200;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap");




.bg{
    background: #FBFBFB;
}

*{
    font-family: 'Raleway', sans-serif;
}

.imgrotate:hover{
  transform: rotate(12deg);
  transition: .3s;
}


.texts::-webkit-scrollbar{
  display: none;
}
.texts{
  scroll-behavior: smooth;
}

.yonalish:hover{
    transition: .4s;
    background: #FFFFFF;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
.btn:hover{
    background: #FD661F;
    color: #FFFFFF;
}


.animateImg {
  animation-name: animate;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 100000;
}


@keyframes animate {
  0% {
    transform: translateY(-50px);
  }
}

.inp1{
  height: 54px;
  width: 580px;
  background: #F5F5F5;
  outline: none;
  padding-left: 20px;
}
.msg{
  width:99%;
  background: #F5F5F5;
  outline: none;
  padding: 20px;
  height: 180px;
}
.msg_main{
  width: 90%;
  margin: auto;
}
   

   .swiper {
    width: 100%;
    height: 100%;
    margin: auto;
    
  }
  .swiper-slide{
    filter: blur(4px);
  }
  .swiper-slide-active{
    filter: blur(0px);
  }
  .swiper-pagination{
    position: relative;
    margin-top: 30px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;

    object-fit: cover;
  }
  




.rotate{
    transform: rotate(-40deg);
}

.inp{
   min-height: 100%;  
   width:75%;
   padding: 0 20px;
   border-radius: 15px;
   outline: none;
}



.animate{
  position: relative;
  padding: 0 10px;
}
.animate::after{
  content: "";
  position: absolute;
  background: #0B7077;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.animate:hover::after{
  width: 100%;
}

.animate:visited{
  color: #FD661F;
}


@media (max-width: 316px) {
  .maxmini{
    width: 100% !important;
    padding: 0 10px !important;
  }
  .swipercard{
    width: 100%;
    padding: 0 10px !important;
    font-size: 15px !important;
  }
  .loyihacards{
    width: 100% !important;
  }
  .aboutcard{
    width: 100% !important;
  }
}
@media (max-width:767px) {
  .swiperimg{
    width: 60% !important;
  }
  .swiperw{
    width: 400px !important;
  }
  .yonalish{
    width: 280px !important;
  }
  
} 
@media (min-width:780px) {
  .main{
    padding-top: 150px !important;
  }
} 
@media (min-width:768px) {
  .main{
    padding-top: 150px !important;
  }
} 
@media (min-width:1000px) {
  .main{
    padding-top: 50px !important;
  }
} 






@media (min-width:1280px) {
  .date{
    top: 25vh !important;
    right: 26vh !important;
  }
  .progress{
    top: 10vh !important;
    right: 10vh !important;
  }
  .main{
    padding-top: 130px !important;
  }
  .shartnoma{
    height: 20vh !important;
  }
  
}

@media (min-width:1100px) {
  .date{
    top: 25vh !important;
    right: 25vh !important;
  }
  .right{
    display: flex !important;
  }
  .main{
    display: flex !important;
    flex-direction: row !important;
  }
  .progress{
    top: 18vh !important;
    right: 9vh !important;
  }
  .holat{
    height: 45vh !important;
  }
  .shartnoma{
    height: 60vh !important;
  }
  .hizmat{
    height: 100% !important;
    padding-bottom: 50px !important;
  }
  .loyihalar{
    height: 100% !important;
  }
  .main{
    padding-top: 40px !important;
  }
}
@media (min-width:1300px) {
  .date{
    top: 27vh !important;
    right:30vh !important;
  }
  .right{
    display: flex !important;
  }
  .main{
    display: flex !important;
    flex-direction: row !important;
  }
  .progress{
    top: 20vh !important;
    right: 13vh !important;
  }
  .border{
    height: 100% !important;
    padding-bottom:40px !important;
  }
  .forminp{
    width: 470px !important;
  }
}

@media (min-width: 1400px) {
  .forminp{
    width: 490px !important;
  }
}

@media (min-width:1440px) {
  .date{
    top: 28vh !important;
    right:33vh !important;
  }
  .progress{
    top: 20vh !important;
    right: 15vh !important;
  }
  .holat{
    height: 45vh !important;
  }
  .shartnoma{
    height: 45vh !important;
  }
  .hizmat{
    height: 100% !important;
    padding-bottom: 50px !important;
  }
  .loyihalar{
    height: 100% !important;
  }
  .forminp{
    width: 500px !important;
  }
}

@media (min-width:1500px) {
  .date{
    top: 29vh !important;
    right:36vh !important;
  }
  .progress{
    top: 22vh !important;
    right: 16vh !important;
  }
  .forminp{
    width: 530px !important;
  }
}

@media (min-width:1536px) {
  .cardres{
    min-height: 33vh !important;
  }
  .date{
    top: 36vh !important;
    right: 43vh !important;
  }
  .progress{
    top:28vh !important;
    right: 20vh !important;
  }
  
}
@media (min-width:1540px) {
  .date{
    top: 37vh !important;
    right:43vh !important;
  }
  .progress{
    top: 28vh !important;
    right: 20vh !important;
  }
  .cardres{
    min-height: 32.7vh !important;
  }
  
}
@media (min-width: 1600px) {
  .forminp{
    width: 560px !important;
  }
}
@media (min-width: 1750px) {
  .cardres{
    height: 30.6vh  !important;
  }
  .forminp{
    width: 590px !important;
  }
}
@media (min-width: 1800px) {
  .forminp{
    width: 610px !important;
  }
}
@media (min-width:1890px) {
  .date{
    top: 34vh !important;
    right:40vh !important;
  }
  .progress{
    top: 27vh !important;
    right: 19vh !important;
  }
  
  
}
@media (min-width:1900px) {
  .date{
    top: 45vh !important;
    right: 57vh !important;
  }
  .progress{
    top: 35vh !important;
    right: 27vh !important;
  }
  .cardres{
    min-height: 40vh !important;
  }
  .shartnoma{
    height: 60vh !important;
  }
  .holat{
    height: 60vh !important;
  }
  .loyihalar{
    padding-top: 60px !important;
  }
  .forminp{
    width: 645px !important;
  }
}
@media (min-width:1940px) {
  .date{
    top: 34vh !important;
    right: 40vh !important;
  }
  .progress{
    top: 27vh !important;
    right: 20vh !important;
  }
  .cardres{
    min-height: 28.5vh !important;
  }
  .holat{
    height: 45vh !important;
  }
  .shartnoma{
    height: 45vh !important;
  }
  .hizmat{
    height: 45vh !important;
  }
  .loyihalar{
    height: 100% !important;
  }
  
}

@media (max-width: 500px) {
  .imgloyiha{
    width: 40% !important;
  }
}
